
.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
  height: 48px;
}

.topnav input {
  width: 70%;
  float: left;
  padding: 6px;
  margin-left: 6px;
  margin-top: 8px;
  font-size: 17px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}
.topnav button{
  margin: 8px;
  width:73px;
  height:34px;
  background-color:#cccccc;
  font-size: 17px;
  color: #666666;
}
.sel{
  height:40px;
  width:50%;
  background-color: #e9e9e9;
  margin:auto;
  margin-top:30px;
}
.sel select{
  width: 100%;
  height:50px;
  padding: 6px;
  box-sizing: border-box;
  background-color: #cccccc;
  font-size: 26px;
  word-spacing: 21px;
  color:#666666;
}
.re{
  width:600px;
  height:40px;
  margin: auto;
  margin-top: 30px;
  background-color: #cccccc;
  color:#666666;
  font-size: 26px;
}
.re button{
  width:100%;
  height:100%;
  box-sizing: border-box;
  color:#666666;
  font-size: 26px;

}
.date{
  width:194px;
  height:35px;
  margin: auto;
  
}
.date input{
  width: 100%;
  height:100%;
  box-sizing: border-box;
  color:#666666;
  font-size: 26px;
  background-color: #cccccc;
  margin-top: 25px;
}

.seldsl{
  height:40px;
  width:50%;
  background-color: #e9e9e9;
  margin:auto;
  margin-top:44px;
}
.seldsl select{
  width: 100%;
  height:50px;
  padding: 6px;
  box-sizing: border-box;
  background-color: #cccccc;
  font-size: 26px;
  word-spacing: 21px;
  color:#666666;
}

.selpic{
  height:40px;
  width:50%;
  background-color: #e9e9e9;
  margin:auto;
  margin-top:44px;
}
.selpic select{
  width: 100%;
  height:50px;
  padding: 6px;
  box-sizing: border-box;
  background-color: #cccccc;
  font-size: 26px;
  word-spacing: 21px;
  color:#666666;
}

.nxt{
  height:30px;
  width: 30%;
  margin: auto;
  margin-top: 30px;
}
.nxt button{
  height:100%;
  width:100%;
  background-color: #cccccc;
  box-sizing: border-box;

}
